@import "./utils/variable";
@import "./utils/colors";
@import "./components/header";
@import "./components/pagination";
@import "./components/search";
@import "./components/_table";
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 50px;
}
main {
  height: 80vh;
  padding: 20px;
  margin: 50px auto;

  background: $lightGray;
}
